.image-signup {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.verification-box {
  flex: 1; /* Allows box to grow */
  max-width: 460px; /* Maximum width */
  margin-right: 10%; /* Relative spacing */
  padding: 2rem; /* Spacing inside the box */
  top:20%;
}

.page-box {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap in smaller screens */
  justify-content: center; /* Center items horizontally */
  gap: 20px; 
  width: 100vw; /* 100% of the viewport width */
  height: 100vh;/* Space between items */
}

.zinio-logo {
  width: 50%; /* Relative to parent size */
  margin-bottom: 10px;
  min-width: 120px; /* Minimum size */
  height: auto; /* Maintain aspect ratio */
}

.create-account-text-box {
  width: 100%; /* Full width of its container */
  margin-top: 20px; /* Space from the top */
}
/* Button styles */
.button-primary {
  height: 50px;
  width: 200px;
  margin-top: 20px;
  background-color: #ADC6C6; /* Default color */
  border: none;
  border-radius: 5px; /* Adjust as needed */
  color: white; /* Text color */
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.button-primary.complete {
  background-color: #337070; /* Color when all numbers are filled */
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .verification-box {
    margin-right: 5%; /* Less margin on smaller screens */
    padding: 1rem; /* Less padding */
    top: 10%;
     /* Closer to the top */
  }

  .zinio-logo {
    width: 60%; /* Larger percentage of its container on small screens */
  }

  /* You might want to adjust font sizes, button sizes, etc., here */
}