.page-box {
  width: 100vw; /* Take up the full width of the parent container */
  height: 100vh; /* Allow the height to adjust based on content */
  padding-left: 5.2734375vw; /* 8.375rem / 16px */
  padding-top: 3.3vh; /* 5.28rem / 16px */
}

.image-signup {
  width: 53.125rem; /* 850px / 16px */
  height: 53.125rem; /* 850px / 16px */

  padding-left: 0.020625rem; /* 0.33px / 16px */
}

.organization-image {
  margin-top: 8.34375rem; /* 133.5px / 16px */
}

.contractor-image {
  margin-top: 0;
}

.signup-box {
  width: 100vw; /* Take up the full width of the parent container */
  height: 100vh; /* Allow the height to adjust based on content */
  margin-right: 5.859375vw; /* 9.375rem / 16px */
  padding-right: 1.953125vw; /* 3.125rem / 16px */
}

.create-account-text-box {
  width: 100vw; /* Take up the full width of the parent container */
  height: auto; /* Allow the height to adjust based on content */
}

.zinio-logo {
  width: 14.03rem; /* 224.5px / 16px */
  height: 7.515rem; /* 120.24px / 16px */
}
.create-account-text-box {
  width: 200%; /* Take up the full width of the parent container */
  height: auto; /* Allow the height to adjust based on content */
}

.scale-down {
  transform: scale(0.7);
  transform-origin: 200px -100px;
}
