.image-signup {
  width: 850px;
  height: 850px;
}

.signup-box {
  width: 460px;
  height: 946.89;
  margin-right: 150px;
}

.page-box {
  width: 1460px;
  height: 946.89px;
  padding-left: 134px;
  padding-top: 84.55px;
}

.zinio-logo {
  width: 224.5px;
  height: 120.24px;
}
